/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-background-color: #0802A3; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 12.0px; /* Tamaño de la fuente */
	-fx-background-radius: 15.0;   
 	-fx-scale-x: 1.0; /* Escala inicial en el eje X */
    -fx-scale-y: 1.0; /* Escala inicial en el eje Y */
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-scale-x: 1.1; /* Escala al hacer hover en el eje X */
    -fx-scale-y: 1.1; /* Escala al hacer hover en el eje Y */
    -fx-background-color: #87C4FF;
    
}

.table-cell {
    -fx-alignment: CENTER; /* Centrar horizontalmente el contenido de la celda */
}
.table-view .column-header {
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-background-color: #87C4FF; /* Color de fondo */
    -fx-text-fill:white; /* Color del texto */
    -fx-padding: 5 10; /* Relleno */
}
/* Estilo para la barra de desplazamiento */
.scroll-bar {
    -fx-background-color: #f0f0f0; /* Color de fondo de la barra */
}

/* Estilo para los botones de la barra de desplazamiento */
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #cccccc; /* Color de fondo de los botones */
}

/* Estilo para el "thumb" (la parte que se mueve en la barra) */
.scroll-bar .thumb {
    -fx-background-color: #666666; /* Color del "thumb" */
}
#paneTitulo{
	  -fx-background-color: #0802A3;
	  -fx-text-fill:white;
	
}
